{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'common/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'blog/css/layout1.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/img/Witcher.ico' %}">
     {% block static %}
     {% endblock %}
</head>
<body  style="background-image: url('https://getwallpapers.com/wallpaper/full/7/d/c/14065.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 35% bottom 45%;;
    background-attachment: fixed;">
    <div class="header">
        <img src="{% static 'blog/img/Witcher.ico' %}" style="height:55; width:55;">
        <p class="ico">
        <strong>Ведьмачие новости</strong>
        </p>
        <div class="left_side">
             <a class="btn btn-info" href="{% url 'blog:index'%}">Главная страница</a>
             <a class="btn btn-info" href="{% url 'blog:news'%}">Новости</a>
             <a class="btn btn-info" href="{% url 'blog:contact'%}">Контакты</a>
        </div>
        <div class="middle">
             <a style="font-size: 35; color: black;  text-decoration: none; margin-left: 50px"> {{title}}</a>
        </div>
        <div class="right_side">
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" style="color: #ffffff; box-shadow: 0 0 3px black;">Привет, {{user.username}}!</a>
                {% if user.is_superuser %}
                        <a class="btn btn-warning" href="{% url 'admin:index' %}"> <i class="fa fa-cog"></i></a>
                {% endif %}
                <form class="log_out_form" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><i class="fa fa-sign-out-alt"></i>Выход</button>
                </form>
            {% else %}
                <a class="btn btn-success" href="{% url 'users:login' %}">Вход</a>
                <a class="btn btn-primary" href="{% url 'users:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
    <div style="height: 6%;"></div>
    {% block content %}
    {% endblock%}
</body>
</html>